.header{ 
    height: 100%;

}

.container {
  background-image:
  linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
  url("/media/pictures/logo.svg");
  border: 2px solid black;
  width: 100%;
  height: auto;
  margin: 0 0;}
.container img{
    height: 250px;
   
}

.Equipement {
    width: 50%;
    background-color: white;
    height: 20%;
    border: 2px solid black;
    margin: 10px 0px;
}
.html,body{
    margin: 0;
    padding: 0;
}

.Atout {
    background-color:rgb(228, 228, 228);
    margin: 10px 0;
    width: 50%;
    height:40%;
    border: 2px solid black;
    }

.Modalite {
    background-color:rgb(228, 228, 228);
    margin: 10px 0;
    width: 50%;
    height:40%;
    border: 2px solid black;
    }
