.header{    background-color: rgb(255, 178, 63);

}

.container {
  border: 2px solid black;
  width: 100%;
  height: auto;
  margin: 20px 10px;}
.container img{
    height: 250px;
   
}

.footer {
    background-color: white;
    height: 20auto;
    border: 2px solid black;
    margin: 20px auto;
}

.Information {
    background-color:rgb(228, 228, 228);
    margin: 10px 10px;
    width: max-content;
    height: 20%;
    border: 2px solid black;
    }
