.header{    background-color: rgb(255, 178, 63);
    height: 100%;

}

.container {
  border: 2px solid black;
  width: 100%;
  height: auto;
  margin: 0 0;}
.container img{
    height: 250px;
   
}

.Equipement {
    background-color: white;
    height: 20auto;
    border: 2px solid black;
    margin: 20px auto;
}
.html,body{
    margin: 0;
    padding: 0;
}
.Atout {
    background-color:rgb(228, 228, 228);
    margin: 0 0;
    width: max-content;
    height: 20%;
    border: 2px solid black;
    }
