.header{ 
    height: 100%;}
.Content{
    display: flex;
    margin: 0px 10px;
    width: auto;
    flex-direction: column;
    align-items: center;

}

.Payement{
    display: flex;
    margin: 0px 10px;
    width: auto;
    flex-direction: column;
    align-items: center;
}


.container {
  background-image:
  linear-gradient(rgba(0, 0, 255, 0.5), rgba(116, 222, 251, 0.5)),
  url("/media/pictures/logo.svg");
  border: 2px solid black;
  width: auto;
  height:400px;
  margin:0 0;
 
}

.container h1{
    display: flex;
    width: 400px;
    height: 100px;


}
  
.container img{
    margin: 0px 10px;
    height: 150px;

   
}

.Equipement {
    width: 350px;
    background-color: white;
    height: 50%;
    border: 2px solid black;
    margin: 30px 0;
}
.html,body{
    margin: 0;
    padding: 0;
}

.Atout {
    background-color:white;
    margin: 10px 0;
    width: 350px;
    height:40%;
    border: 2px solid black;
    }

.Modalite {
    background-color:white;
    margin: 10px 0;
    width: 350px;
    height:40%;
    border: 2px solid black;
    }

.styled {
    width: 300px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.styled:hover {
  background-color: rgb(252, 252, 252);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
}
