header img {
    margin: 5px ;
    width: 10em;
    height: 10em;
    padding-left: 2em;
    padding-right: 2em;
}


 header {
    background-image: url('apart.jpg'); 
    background-size: cover;
    background-position: center; 
    height: 500px;  
    display: flex;
    justify-content: center;
    font-size: 2em;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
