header img {
    margin: 0px 0px;
    width: 10em;
    height: 10em;
    padding-left: 2em;
    padding-right: 2em;

}

.bu {
    
}
.tu {
    display: flex;
    flex-direction: row;
}
.bu .tu {
    justify-content: center;
    align-content: flex-end;
    margin-bottom: 20px;
}

.bu button {
    display: flex;
    width: 120px;
    height: 60px;
    background: #4CAF50;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
    font-weight: bold;
    border-radius: 8px ;
}
.tu button {
    display: flex;
    width: 120px;
    height: 60px;
    background: #4CAF50;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
    font-weight: bold;
    border-radius: 8px ;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url('apart.jpg'); 
    background-size: cover;
    background-position: center; 
     
    display: flex;
    color:white;
    font-size: 2em;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    
}

header h2 {
    font-size: 1.5em;
    margin: 10px 10px ;
    font-weight: 400;
    color:white;
}
header h1 {
    font-size: 1.5em;
    margin: 10px 30px ;
    font-weight: 400;
    color:white;
}
