header img {
    margin: 0px 0px;
    width: 5em;
    height: 5em;
    padding-left: 1em;
    padding-right: 2em;

}
.bu {
    display: flex;
    justify-content: center;
}
.tu {

}
.tu .bu {
    display: flex;
    justify-content: center;
    align-content: center;
}
.tu button {
    display: flex;
    width: 120px;
    height: 60px;
    justify-content: center;
    font-size: 20px; 
    font-weight: bold;
    border-radius: 8px ;
}

.bu button {
    display: flex;
    width: 110px;
    height: 50px;
    background: #4CAF50;
    color: #fff;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    flex-direction: row;
    font-size: 20px; 
    font-weight: bold;
    border-radius: 8px ;

    
}



html, body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url('apart.jpg'); 
    background-size: cover;
    background-position: center; 
    height: 500px;  
    display: flex;
    color:white;
    font-size: 2em;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    
}

header h2 {
    font-size: 1.5em;
    margin: 10px 10px ;
    font-weight: 400;
    color:white;
}
header h1 {
    font-size: 1.5em;
    margin: 10px 30px ;
    font-weight: 400;
    color:white;
}
