header img {
    margin: 0px 0px;
    width: 5em;
    height: 5em;
    padding-left: 1em;
    padding-right: 2em;

}

button {
    display: flex;
    width: 110px;
    height: 50px;
    background: #4CAF50;
    color: #fff;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-direction: row;
    float:right;
    font-size: 20px; 
    font-weight: bold;

    
}



html, body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url('apart.jpg'); 
    background-size: cover;
    background-position: center; 
    height: 500px;  
    display: flex;
    color:white;
    font-size: 2em;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    
}

header h2 {
    font-size: 1.5em;
    margin: 10px 10px ;
    font-weight: 400;
    color:white;
}
header h1 {
    font-size: 1.5em;
    margin: 10px 30px ;
    font-weight: 400;
    color:white;
}
